@import './variables.css';

.navbar, .dropdown-content, .footer {
  background-color: var(--background-grey);
}

.navbar {
  font-family: var(--font-family-header);

  .menu {
    background-color: var(--background-grey); 
  }
}