@import './variables.css';

.navbar, .dropdown-content, .footer {
  background-color: var(--background-grey);
  color: var(--text-primary);

}

.navbar {
  font-family: var(--font-family-header);

  .menu {
    background-color: var(--background-grey); 
  }
}