@import './variables.css';
@import './HeaderFooter.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #121212;
  color: var(--text-primary);
}

@layer base {
  .container {
    @apply min-w-[100%] my-auto;
    @apply px-[1.25rem] md:px-[3rem];
  }

  .container-fluid {
    @apply w-full p-[1rem];
  }

  .content-wrapper {
    @apply min-h-[100vh] flex flex-col;
  }

  .main-content {
    @apply flex-grow;
  }
}




